@media only screen and (max-width: 500px) {
  .slider {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 24px;
    font-size: 1rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    left: 24px;
    font-size: 1rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 20;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 20;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
